# House Market

Let's go a little further into python.

1. Download the four files “superficie.csv” / “nombre_de_sdb.csv” / “nombre_de_chambres.csv” / "house_price.csv"

2. Read the files and create the 4 corresponding Dataframes

In [157]:
import pandas as pd

In [158]:
df_housePrices = pd.read_csv('../Resources/house_market/house_price.csv')
df_houseRooms = pd.read_csv('../Resources/house_market/nombre_de_chambres.csv', header=None)
df_houseBaths = pd.read_csv('../Resources/house_market/nombre_de_sdb.csv', header=None)
df_houseAreas = pd.read_csv('../Resources/house_market/superficie.csv', header=None)

In [159]:
display("Prices",df_housePrices)
display("Rooms",df_houseRooms)
display("Bathrooms",df_houseBaths)
display("Areas",df_houseAreas)

'Prices'

    Unnamed: 0  id  house_price
0            0  14    1918154.0
1            1  30     739142.0
2            2  70    1621938.0
3            3  77    1319862.0
4            4  50     146250.0
..         ...  ..          ...
95          95  15     157223.0
96          96  81    1616313.0
97          97  42     143573.0
98          98  19     974546.0
99          99   9     157433.0

[100 rows x 3 columns]

'Rooms'

     0  1
0    0  1
1    1  4
2    2  1
3    3  4
4    4  2
..  .. ..
95  95  3
96  96  2
97  97  2
98  98  2
99  99  2

[100 rows x 2 columns]

'Bathrooms'

     0  1
0    0  2
1    1  1
2    2  1
3    3  3
4    4  1
..  .. ..
95  95  3
96  96  1
97  97  1
98  98  1
99  99  2

[100 rows x 2 columns]

'Areas'

     0      1
0    0  28844
1    1  27667
2    2  14742
3    3  28089
4    4  11713
..  ..    ...
95  95  11417
96  96  12126
97  97  16390
98  98  23738
99  99  14613

[100 rows x 2 columns]

3. Give a column name to the three datasets that don't have a header in the source file

In [160]:

df_houseAreas.columns = ["id", "area"]
df_houseRooms.columns = ["id", "rooms"] 
df_houseBaths.columns = ["id", "baths"] 


display("Prices",df_housePrices)
display("Rooms",df_houseRooms)
display("Bathrooms",df_houseBaths)
display("Areas",df_houseAreas)

'Prices'

    Unnamed: 0  id  house_price
0            0  14    1918154.0
1            1  30     739142.0
2            2  70    1621938.0
3            3  77    1319862.0
4            4  50     146250.0
..         ...  ..          ...
95          95  15     157223.0
96          96  81    1616313.0
97          97  42     143573.0
98          98  19     974546.0
99          99   9     157433.0

[100 rows x 3 columns]

'Rooms'

    id  rooms
0    0      1
1    1      4
2    2      1
3    3      4
4    4      2
..  ..    ...
95  95      3
96  96      2
97  97      2
98  98      2
99  99      2

[100 rows x 2 columns]

'Bathrooms'

    id  baths
0    0      2
1    1      1
2    2      1
3    3      3
4    4      1
..  ..    ...
95  95      3
96  96      1
97  97      1
98  98      1
99  99      2

[100 rows x 2 columns]

'Areas'

    id   area
0    0  28844
1    1  27667
2    2  14742
3    3  28089
4    4  11713
..  ..    ...
95  95  11417
96  96  12126
97  97  16390
98  98  23738
99  99  14613

[100 rows x 2 columns]

4. Make an inner join of these four datasets into a single dataframe.

In [161]:
dfOutput = df_houseBaths.merge(df_houseRooms, on='id', how='inner').merge(df_housePrices, on='id', how='inner').merge(df_houseAreas, on='id', how='inner')
display(dfOutput)

    id  baths  rooms  Unnamed: 0  house_price   area
0    0      2      1          32    1421908.0  28844
1    1      1      4          71    1305091.0  27667
2    2      1      1          65     164373.0  14742
3    3      3      4          88    1441714.0  28089
4    4      1      2          49     108290.0  11713
..  ..    ...    ...         ...          ...    ...
95  95      3      3          39     132599.0  11417
96  96      1      2          15     155828.0  12126
97  97      1      2          13     237061.0  16390
98  98      1      2           9     976422.0  23738
99  99      2      2          34     183621.0  14613

[100 rows x 6 columns]

5. What is the average surface area of the houses in our dataset?

In [162]:
dfOutput["area"].mean()

np.float64(20439.77)

6. What is the median and average number of rooms?

In [163]:
medRooms = dfOutput["rooms"].median()
avgRooms = dfOutput["rooms"].mean()
display(str("The average number of room is {}, and the median number is {}").format(avgRooms, medRooms))

'The average number of room is 2.42, and the median number is 2.0'

7. What is the average cost of a house?

In [164]:
avgCost = dfOutput["house_price"].mean()
display(str("The average cost of a house is {}").format(avgCost))

'The average cost of a house is 767747.87'

8. What is the average cost of a house, depending on the number of rooms it has?

In [165]:
priceByRooms = dfOutput.groupby("rooms")['house_price'].mean()
display(priceByRooms)

rooms
1    980774.869565
2    642086.258065
3    645904.592593
4    888045.631579
Name: house_price, dtype: float64

10. The average cost per room doesn't tell us much. Let's try to categorize by size.

  - Create a new column in your dataset that we'll call home_size
Create five categories that respectively correspond to:
      - "very large" $=$ "a house larger than 25,000 sqrt_feet"
      - "large" $=$ "a house between 20,000 and 25,000 sqrt_feet"
      - "medium" $=$ "a house between 15,000 and 20,000 sqrt_feet"
      - "small" $=$ "a house between 10,000 and 15,000 sqrt_feet"
      - "very small" $=$ a house less than 10,000 sqrt_feet"

Fill in the corresponding rows in the house_size column.

In [175]:
dfOutput['home_size'] = dfOutput.apply(lambda val: 
                                       "very large" if val.area >= 25000 else 
                                       "large" if val.area >= 20000 and val.area < 25000 else 
                                       "medium" if val.area >= 15000 and val.area < 20000 else 
                                       "small" if val.area >= 10000 and val.area < 15000 else 
                                       "very small" if val.area < 10000 else ""
                                       , axis=1)


display(dfOutput)

    id  baths  rooms  Unnamed: 0  house_price   area   home_size
0    0      2      1          32    1421908.0  28844  very large
1    1      1      4          71    1305091.0  27667  very large
2    2      1      1          65     164373.0  14742       small
3    3      3      4          88    1441714.0  28089  very large
4    4      1      2          49     108290.0  11713       small
..  ..    ...    ...         ...          ...    ...         ...
95  95      3      3          39     132599.0  11417       small
96  96      1      2          15     155828.0  12126       small
97  97      1      2          13     237061.0  16390      medium
98  98      1      2           9     976422.0  23738       large
99  99      2      2          34     183621.0  14613       small

[100 rows x 7 columns]

11. What is the average cost of a house depending on its size category?

In [176]:
priceByCategories = dfOutput.groupby("home_size")['house_price'].mean()
display(priceByCategories)

home_size
large         7.325385e+05
medium        3.256948e+05
small         1.561387e+05
very large    1.552456e+06
Name: house_price, dtype: float64

 12. Apply the code below to view your result. What can you conclude?

In [179]:
import plotly.express as px
fig = px.scatter(dfOutput, x = "area", y = "house_price", trendline = "ols")
fig.show()